<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingInfo" closeTimeout="00:05:00" openTimeout="00:05:00"
          sendTimeout="00:05:00" transactionFlow="true">
          <readerQuotas maxStringContentLength="8192" maxArrayLength="16834"
            maxBytesPerRead="4096" maxNameTableCharCount="16834" />
          <reliableSession inactivityTimeout="00:15:00" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4444/MathService" binding="basicHttpBinding"
          bindingConfiguration="" name="MathService_BasicHttp" contract="MathServiceLibrary.IMathService" />
      <endpoint address="http://localhost:5555/MathService" binding="wsHttpBinding"
        bindingConfiguration="wsHttpBindingInfo" name="MathService_WsHttp"
        contract="MathServiceLibrary.IMathService" />
      <endpoint address="net.tcp://localhost:6666/MathService" binding="netTcpBinding"
            bindingConfiguration="" name="MathService_NetTcp" contract="MathServiceLibrary.IMathService" />
    </client>
  </system.serviceModel>
</configuration>