<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="MathService_NetTcpBinding" closeTimeout="00:02:00"
            openTimeout="00:02:00" receiveTimeout="00:05:00" sendTimeout="00:02:00" />
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="MathServiceLibrary.MathService">
        <endpoint address="net.tcp://localhost:6666/MathService" binding="netTcpBinding"
          bindingConfiguration="MathService_NetTcpBinding" name="MathService_NetTcp"
          contract="MathServiceLibrary.IMathService" />
      </service>
    </services>
  </system.serviceModel>

</configuration>
