<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client>
      <endpoint address="net.tcp://localhost:6666/MathService" binding="netTcpBinding"
        bindingConfiguration="" contract="MathServiceLibrary.IMathService"
        name="MathService_NetTcp" />
    </client>
  </system.serviceModel>
</configuration>