<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBindingConfig" />
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviorConfig">
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehaviorConfig" name="ProductServiceLibrary.ProductService">
        <endpoint address="net.tcp://localhost:7777/ProductService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBindingConfig" name="ProductService_NetTcp"
          contract="ProductServiceLibrary.IProduct" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="ProductService_Mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7001/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>