<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="MathService_NetTcpBinding" closeTimeout="00:02:00"
            openTimeout="00:02:00" receiveTimeout="00:05:00" sendTimeout="00:02:00" />
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="MathServiceLibrary.MathService">
        <endpoint address="net.tcp://localhost:6666/MathService" binding="netTcpBinding"
          bindingConfiguration="MathService_NetTcpBinding" name="MathService_NetTcp"
          contract="MathServiceLibrary.IMathService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mexEndPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>