<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalcWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61865/CalcWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalcWebServiceSoap"
                contract="CalcWebServiceRef.CalcWebServiceSoap" name="CalcWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>