<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsWebSrvSol.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReportingService2010Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://asusmlk:80/reportserver/ReportService2010.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReportingService2010Soap"
                contract="ReportServiceReference.ReportingService2010Soap"
                name="ReportingService2010Soap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <WinFormsWebSrvSol.Properties.Settings>
            <setting name="WinFormsWebSrvSol_ReportSvrWebRef_ReportingService2010"
                serializeAs="String">
                <value>http://localhost:80/reportserver/ReportService2010.asmx</value>
            </setting>
        </WinFormsWebSrvSol.Properties.Settings>
    </applicationSettings>
</configuration>