<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="ProductService_WsHttp" transactionFlow="true" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64543/ProductService.svc"
                binding="wsHttpBinding" bindingConfiguration="ProductService_WsHttp"
                contract="ProductServiceReference.IProduct" name="ProductService_WsHttp">
                <identity>
                    <userPrincipalName value="ASUSMLK\Milko" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>