<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ProductService_NetTcp" />
        <binding name="NetTcpBinding_IProduct" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:7777/ProductService" binding="netTcpBinding"
          bindingConfiguration="ProductService_NetTcp" contract="ProductServiceReference.IProduct"
          name="ProductService_NetTcp">
        <identity>
          <userPrincipalName value="ASUSMLK\Milko" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:6666/MathService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IProduct" contract="ProductServiceReference.IProduct"
          name="NetTcpBinding_IProduct">
        <identity>
          <userPrincipalName value="ASUSMLK\Milko" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>